html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;}
    
/* this should be the styling from 0-600px*/

    html { 
        background: rgb(13,191,252);
        background: linear-gradient(180deg, rgba(13,191,252,1) 0%, rgba(238,187,55,1) 17%, rgba(253,45,45,1) 38%)no-repeat center center fixed;
    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        font-family: 'Lobster', cursive;
      }
    
    
    body{
        background-color:transparent;
        position: absolute;
        padding-top: 0px;
        margin: 0px;
        top:0;
        width: 100%;
        font-size: 20vw;
    }
    
    
    #pageTitle{
        font-family: 'Lobster', sans-serif;
        color: white;
        position: relative;
        width: 100%;
        top:5vh;
        text-align: center;
        font-size: 8vw;
    }
    #poste{
        font-family: 'Roboto', sans-serif;
        position: relative;
        margin-top: 0; 
        font-size: 5vw;
    }
    
    #navWrapperMobile{
        display: block;
        position: relative;
        text-align: center;
        font-size: 3vw;
        top: 4vh;
        height: 1vh;
        width: 100%;
    }

    #navWrapperDesktop {
        display: none;
    }
    
    .accueilHeader{
        position: relative;
        height: 1px;
        border-right:solid 1px #fff;/*add */
    }
    
    a:link, a:visited{
        display: inline-block;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 4vw;
        padding-left: 1.5vw;
        padding-right: 1vw;
    
    }
    
    
    main{
        background-color: #fff;
        font-family: 'Roboto', sans-serif;
        position: relative;
        top:15vh;
        width:100%;
        height: 100%;
        margin-bottom: 0;
    }
    .divText{
        margin-top: 7vh;
        margin-left: 1.5vw;
        margin-right: 1.5vw;
        margin-bottom:  15vh;
        font-size: 4.5vw;
    }
    
    .contentH2 {
        font-family: 'Roboto', sans-serif;
        position: relative;
        margin-bottom: 4vh;
        padding-top: 5vh;
        font-size: 4vh;
    
    }
    
    .gridDiv2{
        display: grid;
        margin-top: 10vh;
        grid-template-columns: repeat(auto-fit,  minmax(186px, 1fr));
        gap: 2vw;
        justify-items: center;
        align-items: center;
    }

    #content2{
        width: 100px;
        height: 60px;
        border: 2px dashed rgb(0, 0, 0,0.5);
    }
    
    .footerDiv{
    position: relative;
    text-align: left;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 7vh;
    background-color: black;
    }
    footer{
        display: inline-block;
        position: relative;
        top: 50%;
        bottom: 0;
        font-size: 12px;
        padding-left: 10px;
        color:white;
    }
    

    @media screen and (min-width: 600px) {
        html{background: rgb(13,191,252);
            background: linear-gradient(180deg, rgba(13,191,252,1) 0%, rgba(238,187,55,1) 29%, rgba(253,45,45,1) 56%) no-repeat center center fixed;  
        }

        #navWrapperMobile{
        display: none;
        }

        #navWrapperDesktop{
            display: block;
            position: relative;
            text-align: center;
            top: 15vh;
            margin-top: 3vh;
            font-size: 2vw;
            height: 1vh;
            width: 100%;
        }

        #accueilHeaderDT{
            position: relative;
            height: 1px;
            border-right:solid 1px #fff;/*add */
        }

        a:link, a:visited{
            display: inline-block;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 3vw;
            padding-left: 1.5vw;
            padding-right: 1vw;
        
        }
        
        main{
            top:40vh;
            font-size: 1vw;
        }

        .contentH2 {
            font-size: 5vw;
        }

        .divText{
            font-size: 2vw;
        }
    }
    

    @media screen and (min-width: 1200px) {
        html{
            background: rgb(13,191,252);
            background: linear-gradient(180deg, rgba(13,191,252,1) 0%, rgba(238,187,55,1) 29%, rgba(253,45,45,1) 56%) no-repeat center center fixed;
        }

        body {
            background-color:transparent;
            font-size: 25px;
        }

        #pageTitle{
            top:13vh;
            font-size: 5vw;
        }
        #poste{
            font-family: 'Roboto', sans-serif;
            font-size: 3vw;
        }

        #navWrapperDesktop {
            display: block;
            height: 1px;
            top: 15vh;
            padding: 0;
            margin:0;
            font-size: 1vw;
        }

        #navWrapperMobile{
            display: none;
        }
        

        
        a:link, a:visited{
            display: inline-block;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 1.5vw;
            padding-left: 1vw;
            padding-right: .7vw;
        
        }

        main{
            top: 30vh;
        }

        .divText{
            margin-top: 7vh;
            margin-left: 15vw;
            margin-right: 15vw;
            margin-bottom:  15vh;
            font-size: 1.5vw;
        }
        
        .contentH2 {
            font-family: 'Roboto', sans-serif;
            position: relative;
            margin-bottom: 4vh;
            padding-top: 10vh;
            font-size: 3vw;
        
        }
    }

      